[submodule "extern/bullet3"]
	path = extern/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp.git
[submodule "extern/SPIRV-Reflect"]
	path = extern/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "extern/meshoptimizer"]
	path = extern/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
