# Ignore CMake build directories
/build/
/cmake-build-debug/
/cmake-build-release/
/CMakeFiles/
/CMakeCache.txt
/Debian/
/Makefile
/*.cmake

# Ignore Visual Studio files
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore compiled binary files
*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.pdb
*.a
*.lo
*.la
*.o
*.obj
*.dep
*.pch

# Ignore dependency directories (like GLFW, GLM, etc. via FetchContent)
/external/

# Ignore temporary files and caches
*.log
